<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Furkan Ceran</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="../static/tasarim.css">
<link rel="shortcut icon" type="image/png" href="../static/resimler/icon.png"/>

</head>

<body>


<div class="baslikresmi">
  <div class="baslik">
    <h1 style="font-size:50px">Edirne Selimiye Camii</h1>
  </div>
	<div class="menualani">
	<ul class="menu">
<li id="id1"><a href="index.html"><img src="../static/resimler/menuicon.png"><span>Anasayfa</span></a></li>
<li id="id2"><a href="teknik.html"><img src="../static/resimler/menuicon.png"><span>Teknik bilgiler</span></a></li>
<li id="id3"><a href="fotogaleri.html"><img src="../static/resimler/menuicon.png"><span>Foto Galeri</span></a></li>
<li id="id4"><a href="nedenedirne.html"><img src="../static/resimler/menuicon.png"><span>Ne zaman ve Neden Edirne?</span></a></li>
<li id="id5"><a href="mimarsinan.html"><img src="../static/resimler/menuicon.png"><span>Mimar Sinan Hayatı</span></a></li>
</ul>
	
	</div>
</div>
	
<section class="icerik">

<article class="metin">
<h2>Foto Galeri</h2>
	
<div class="img">
  <a target="_blank" href="../static/resimler/galeri/1.jpg">
    <img src="../static/resimler/galeri/1.jpg" alt="Selimiye Camii" width="300" height="200">
  </a>
  <div class="desc">Selimiye Camii</div>
</div>

<div class="img">
  <a target="_blank" href="../static/resimler/galeri/2.jpg">
    <img src="../static/resimler/galeri/2.jpg" alt="Selimiye Camii" width="600" height="400">
  </a>
  <div class="desc">Selimiye Camii</div>
</div>

<div class="img">
  <a target="_blank" href="../static/resimler/galeri/3.jpg">
    <img src="../static/resimler/galeri/3.jpg" alt="Selimiye Camii" width="600" height="400">
  </a>
  <div class="desc">Selimiye Camii</div>
</div>

<div class="img">
  <a target="_blank" href="../static/resimler/galeri/4.jpg">
    <img src="../static/resimler/galeri/4.jpg" alt="Selimiye Camii" width="600" height="400">
  </a>
  <div class="desc">Selimiye Camii</div>
</div>
	
<div class="img">
  <a target="_blank" href="../static/resimler/galeri/5.jpg">
    <img src="../static/resimler/galeri/5.jpg" alt="Selimiye Camii" width="600" height="400">
  </a>
  <div class="desc">Selimiye Camii</div>
</div>
<div class="img">
  <a target="_blank" href="../static/resimler/galeri/6.jpg">
    <img src="../static/resimler/galeri/6.jpg" alt="Selimiye Camii" width="600" height="400">
  </a>
  <div class="desc">Selimiye Camii</div>
</div>
	
</article>	



	
	
	
</section>
<footer class="metin2bolgesi" >
	

<article class="metin2">

<table >
<tr>
	<td>Hazırlayan: Test içeriği ©</td>
	<td>Referanslar:</td>
	<td ><a href="index.html">Anasayfa</a></td>
	<td></td>
</tr>
<tr>
	<td>Deneme Tablosu</td>
	<td><a href="http://www.mimarsinaneserleri.com/eserler.html">Mimarsinaneserleri.com</a></td>
	<td ><a href="index.html">Teknik Bilgiler</a></td>
	<td></td>
</tr>
<tr>
	<td></td>
	<td><a href="http://www.edirnevdb.gov.tr/kultur/selimiye.html">Edirnevdb.gov.tr</a></td>
	<td ><a href="index.html">Foto Galeri</a></td>
	<td></td>
</tr>
<tr>
	<td></td>
	<td><a href="https://tr.wikipedia.org/wiki/Mimar_Sinan">Wikipedia</a></td>
	<td ><a href="index.html">Ne zaman ve Neden Edirne?</a></td>
	
</tr>
<tr>
	<td></td>
	<td></td>
	<td ><a href="index.html">Mimar Sinan Hayatı</a></td>
</tr>
</table>

	
</article>	

	
</footer>



</body>

</html>
